// color
$BLACK_CORE: #000000;
$BLACK_900: #1a1a1a;
$BLACK_800: #333333;
$BLACK_700: #4d4d4d;
$BLACK_600: #666666;
$BLACK_500: #808080;
$BLACK_400: #999999;
$BLACK_300: #b3b3b3;
$BLACK_200: #cccccc;
$BLACK_100: #e6e6e6;
$BLACK_50: #f7f7f7;
$WHITE: #ffffff;

$PRIMARY_TINT: #b6cce3;
$PRIMARY_LIGHT: #4d85c0;
$PRIMARY_DEFAULT: #004d9e;
$PRIMARY_DEEP: #003a78;
$PRIMARY_DEEPER: #002852;
$PRIMARY_DARK: #00162d;

$SECONDARY_TINT: #f8ccdd;
$SECONDARY_LIGHT: #f08ab1;
$SECONDARY_DEFAULT: #e84d88;
$SECONDARY_DEEP: #cd2d6c;
$SECONDARY_DEEPER: #b31353;
$SECONDARY_DARK: #99003f;

$BG_PRIMARY_LIGHT: #f4f7fb;
$BG_SECONDARY_LIGHT: #fdf7fa;

$RED: #cc0000;

// shadow
$SHADOW_DROPDOWN: 0 4px 10px rgba(0, 0, 0, 0.15);
// $SHADOW_BTN_DEFAULT: 0px 2px 4px rgba(0, 0, 0, 0.2);
// $SHADOW_BTN_HOVER: 0px 2px 10px rgba(0, 0, 0, 0.2);

// transparent
$TRANSPARENT_WHITE_20: rgba(255, 255, 255, 0.2);
$TRANSPARENT_WHITE_80: rgba(255, 255, 255, 0.8);
$TRANSPARENT_WHITE_95: rgba(255, 255, 255, 0.95);
$TRANSPARENT_BLACK_40: rgba(0, 0, 0, 0.4);
$TRANSPARENT_BLACK_10: rgba(0, 0, 0, 0.1);
