@import '../styles/colors.scss';
@import '../styles/fonts.scss';

.Home {
  width: 100%;
  margin: 0 auto;
}

.newsTickerWrapper {
  width: 100%;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  transform: translateY(-20%);
  pointer-events: none;
}
