@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.footerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: $PRIMARY_DEFAULT;
}

.footerContent {
  @extend .caption2;
  color: $BLACK_200;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  @media (max-width: 768px) {
    padding: 24px;
  }

  @media (max-width: 375px) {
    padding: 20px;
  }
}
